.env
test.py
podcasts.db
yt.db
snow_config.py
.models
.ipynb
.ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
embeddings_test.ipynb
llm_test_ipynb
index.faiss
index.pkl
llama-2-7b-chat.ggmlv3.q8_0.bin
youtube_video.cpython-39.pyc
audio.mp4
test_notebook.ipynb
admin.py