-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/v2.7.9/tested_requirements/requirements_39.reqs

pandas
streamlit
snowflake-connector-python
snowflake-connector-python[pandas]
#snowflake-snowpark-python[pandas]==1.3.0